@media screen and (orientation: landscape) {
    .container {
        width: 40%;
    }
}

@media screen and (orientation: portrait) {
    .container {
        width: 70%;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    font-size: 1.1em;
    font-family: 'Share Tech Mono', monospace;
    background-color: #100F12;
    color: #FBF8FF;
    margin: 0;
    text-align: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    margin: 0.8em 0px;
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.header > a:not(:last-child)::after {
    content: "";
    padding-right: 0.4em;
    margin-right: 0.4em;
    border-right: 2px solid whitesmoke;
}

h1 {
    font-weight: bold;
    display: block;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
}

h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin: 0px;
    padding: 0px;
}

a {
    color: #FBF8FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.selected {
    font-weight: bold;
}

.image-container {
    padding: 1.3em 0px;
}

.image-container img {
    border-radius: 50%;
}

.footer {
    font-family: 'Ubuntu Mono', monospace;
    margin-top: auto;
}