* {
    box-sizing: border-box;
}

html {
    font-size: 1.2em;
    font-family: 'Share Tech Mono', monospace;
    background-color: #100F12;
    color: #FBF8FF;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    max-height: 100%;
}

.content {
    flex-direction: row;
}
.header {
    margin: 0.8em 0px;
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.header > a:not(:last-child)::after {
    content: "";
    padding-right: 0.4rem;
    margin-right: 0.4rem;
    border-right: 2px solid whitesmoke;
}

.header > a {
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    letter-spacing: 2px;
    padding: 0px;
}

a {
    color: #FBF8FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.selected {
    font-weight: bold;
}

.center {
    align-items: center;
    justify-content: center;
}

.radius {
    border-radius: 50%;
}

.card-container {
    position: relative;
    max-width: 200px;
}

.bottom {
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.title, .text {
    margin: 0px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text {
    z-index: -1;
}

.card-container:hover .title {
    z-index: -1;
}

.card-container:hover .text {
    z-index: 0;
    top: 50%;
    animation: slide-top 0.3s 0.1s both;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

@keyframes slide-top {
    0% {
        top: 100%;
    }
    100% {
        top: 50%;
    }
  }